body
{
	background: #fff url('/profilePhotos/chicago_bean.jpg') top left repeat-x;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana, Arial, san-serif; font-size: 1em;
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}


h1, h2, h3
{
	text-align: center;
}

table
{
	border: 2px;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	border-collapese: collapse;
}

p
{
	text-align: center;
}

a
{
	text-align: center;
}
