body {
    background-color:#1e212b; 
    color:#DADAD9;
}

.border-light {
    border-color: #EED8CF !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3e78b2 !important;
    border-color: #3e78b2 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #DADAD9 !important;
    border-color: #DADAD9 !important;
    color: black;
}

.card-header {
    background-color: #DADAD9;
    color:#1e212b;
}

.list-group-item {
    background-color: #232733;
    color:#DADAD9;
}

.playlist-card {
    background-color: #232733;
    border-color: #232733;
    max-width: 500px;
}

.project-card {
    background-color: #DADAD9;
    color: #1e212b;
}

.startup-card {
    background-color: #EED8CF;
    color: #1e212b;
}

.header {
    background-color: #232733;
    border-bottom: solid 2px black;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-bottom: 8rem;
}

.footer {
    background-color: #232733;
    border-top: solid 2px black;
    color:  #DADAD9;
    margin-top: 8rem !important;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.table, table {
    background-color:#EED8CF;
    border: #1e212b;
    border-radius: 5px;
    color: #1e212b;
}

.rotate-slightly-left {
    transform: rotate(355deg);
}

.rotate-slightly-right {
    transform: rotate(5deg);
}