body
{
	background-image:url('/profilePhotos/gt3_background_2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana, Arial, san-serif; font-size: 1em;
}

.navigation_bar
{
	position:absolute;
	left:10px;
	right:10px;
	top:10px; 
	height:60px;
	background-color:black;
	color:white;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

li
{
	display:inline;
}

.topleft1
{
	background-image:url('/profilephotos/me2');
	background-size:cover;
	width:200px;
	height:200px;
	position:absolute;
	left:188px;
	top:10px;
}

.topleft2
{
	background-image:url('/profilephotos/FSUfootball');
	background-size:cover;
	width:200px;
	height:200px;
	position:absolute;
	left:398px;
	top:10px;
}

.top1
{
	background-image:url('/profilephotos/bean_background');
	background-size:cover;
	width:410px;
	height:100px;
	position:absolute;
	left:188px;
	top:210px;
}

h1
{
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

/* link styling */
a:link
{
	color:#FFFFFF;
	font-family: "Lucida Console", Monaco, monospace;
	display:block;
	margin-top:1.33em;
	margin-bottom:1.33em;
	margin-left:0;
	margin-right:0;
	font-weight:bold;
	text-decoration:none;
}

a:visited
{
	color:#F0F0F0;
	font-family: "Lucida Console", Monaco, monospace;
	display:block;
	margin-top:1.33em;
	margin-bottom:1.33em;
	margin-left:0;
	margin-right:0;
	font-weight:bold;
	text-decoration:none;
}

a:hover
{
	color:#A80000;
	font-family: "Lucida Console", Monaco, monospace;
	display:block;
	margin-top:1.33em;
	margin-bottom:1.33em;
	margin-left:0;
	margin-right:0;
	font-weight:bold;
	text-decoration:none;
}
/* End of Link Styling */
