body
{
	background-image:url('profilePhotos/gt3_background_2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana, Arial, san-serif; font-size: 1em;
}

.navigation_bar
{
	position:center;
	height:60px;
	background-color:black;
	color:white;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li
{
	float:left;
}

.topleft1
{
	position:absolute;
	left:188px;
	top:10px;
	width:200px;
	height:200px;
	background-image:url('profilePhotos/me2.jpg');
	background-size:cover;
}

.topleft2
{
	background-image:url('profilePhotos/FSUfootball.jpg');
	background-size:cover;
	width:200px;
	height:200px;
	position:absolute;
	left:398px;
	top:10px;
}

.top1
{
	background-image:url('profilePhotos/bean_background.jpg');
	background-size:cover;
	width:410px;
	height:100px;
	position:absolute;
	left:188px;
	top:210px;
}

/* link styling */
a:link
{
	color:#FFFFFF;
	font-family: "Lucida Console", Monaco, monospace;
	display:block;
	margin-top:1.33em;
	margin-bottom:1.33em;
	margin-left:0;
	margin-right:0;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	width:120px;
}

a:visited
{
	color:#F0F0F0;
	font-family: "Lucida Console", Monaco, monospace;
	display:block;
	margin-top:1.33em;
	margin-bottom:1.33em;
	margin-left:0;
	margin-right:0;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	width:120px;
}

a:hover
{
	color:#A80000;
	font-family: "Lucida Console", Monaco, monospace;
	display:block;
	margin-top:1.33em;
	margin-bottom:1.33em;
	margin-left:0;
	margin-right:0;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	width:120px;
}
/* End of Link Styling */
