body {
	font-family: 'Roboto', sans-serif;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #5200A3;
	z-index: 2;
	height: 120px;
	left:0px;
	right:0px;
	padding: 10px;
	display: block;
}

#logo {
	height: 120px;
	position: absolute;
	right: 10px;
}

#expand_nav {
	height: 90px;
	left: 15px;
	position: relative;
	top:50%;
	transform: translateY(-50%);
}

