body {
	font-family: 'Roboto', sans-serif;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #5200A3;
	z-index: 2;
	height: 130px;
	left:0px;
	right:0px;
	padding: 10px;
	display: block;
	text-align: center;
}

#logo {
	height: 100%;
/*	position: absolute;
	right: 10px;
	top: 15px; */

	position: relative;
	margin: 0 auto;
}

#expand_nav {
	height: 90px;
	left: 15px;
	position: relative;
	top: 15px;
}

#slides {
	position: absolute;
	top: 130px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#download_slide {
	position: relative;
	height: 1000px;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-color: #5200A3;
	border-width: 25px;
}

#intro {
	position: relative;
	top: 50px;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

#intro h2 {
	font-size: 50px;
}

#returning_user {
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 80%;
}

.tb {
	height: 100px;
	width: 100%;
	font-size: 100px;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #EFD9FF;
	border: solid;
	border-radius: 15px;
	border-width: 5px;
	border-color: #5200A3;
	color: #000000;
}

#login_button {
	position: relative;
	width: 40%;
	height: 120px;
	font-size: 70px;
	color: #FFFFFF;
	background-color: #FF9900;
	border-style: none;
	border-color: #FF9900;
	border-width: 1px;
	border-radius: 15px;
	-webkit-appearance: none;
}

#download_button {
	position: relative;
	top: 100px;
	height: 120px;
	width: 80%;
	left: 10%;
	background-color: #5200A3;
	border-style: none;
	border-color: #FF9900;
	border-width: 1px;
	border-radius: 15px;
	-webkit-appearance: none;
	font-size: 70px;
	color: #FFFFFF;
}

#description_slide {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	z-index: -1;
}

